<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <property name="myPattern" value="%d %highlight{%p} %c{1.} [%t] %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern><![CDATA[${myPattern}}]]></pattern>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
